node_modules
.next
.env
public/*
!public/android*
!public/apple*
!public/mstile*
!public/favicon*
!public/manifest.json
!public/browserconfig.xml
!public/fonts
!public/fonts/*
*.log
!src/public
.eslintcache
.lighthouseci
coverageCLAUDE.md
