version: '2.2'

services:
  next:
    scale: 16
    image: ghcr.io/seongland/seongland:2.1.1
    ports:
      - 8888:8888
    restart: always
    env_file:
      - .env
      
  redis:
    scale: 1
    image: redis
    ports:
      - 6379
    volumes:
      - redis:/data

volumes:
  redis:

endpoints:
  labels:
    kubernetes.io/ingress.class: nginx
  rules:
    - path: /
      service: seongland
      port: 8888
