---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Welcome from "@/components/sections/Welcome.astro";
import Hero from "@/components/sections/Hero.astro";
import SelectedWorks from "@/components/sections/SelectedWorks.astro";
---

<BaseLayout title="About" variant="space">
  <div class="mx-auto min-h-screen max-w-[800px] px-8">
    <Welcome />
    <Hero />
    <SelectedWorks />
  </div>
</BaseLayout>
