.canvas {
  position: absolute !important;
  top: 0;
  pointer-events: none;
}

.viewport {
  position: absolute;
  overflow: auto;
  top: 0px;
  width: 100%;
  height: 100vh;
  font-size: 20em;
  font-weight: 800;
}

.parallax {
  height: 525vh;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: var(--fg-color);
}
